<h1>Posts de {{categoria.nome}} </h1>
{{#each postagens}}
<div class="card">
  <div class="card-body">
    <small>{{categoria.nome}}</small>
    <hr>
    <h4>{{titulo}}</h4>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
  </div>
</div>
{{else}}
<h3>NENHUMA POSTAGEM</h3>
{{/each}}